/org.eclipse.egit.core.prefs
/org.eclipse.epp.logging.aeri.ide.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.mylyn.tasks.ui.prefs
/org.eclipse.ui.prefs
